alabaster==1.0.0
amqp==5.3.1
asgiref==3.9.1
async-timeout==5.0.1
babel==2.17.0
billiard==4.2.1
boto3==1.40.6
botocore==1.40.6
celery==5.5.3
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.10.2
crispy-bootstrap4==2025.6
crispy-bootstrap5==2023.10
cryptography==45.0.6
dj-database-url==3.0.1
Django==5.2.4
django-anymail==13.0.1
django-cors-headers==4.7.0
django-countries==7.6.1
django-crispy-forms==2.1
django-debug-toolbar==6.0.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==25.1
django-guardian==3.0.3
django-phonenumber-field==8.1.0
django-ratelimit==4.1.0
django-redis==6.0.0
django-storages==1.14.6
django-tinymce==3.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
docutils==0.21.2
exceptiongroup==1.3.0
factory_boy==3.3.3
Faker==37.5.3
gunicorn==21.2.0
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
Jinja2==3.1.6
jmespath==1.0.1
kombu==5.5.4
MarkupSafe==3.0.2
packaging==25.0
phonenumbers==9.0.10
pillow==10.3.0
pluggy==1.6.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.9
pycparser==2.22
Pygments==2.19.2
pytest==8.4.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
pytz==2025.2
redis==6.3.0
requests==2.31.0
s3transfer==0.13.1
sentry-sdk==2.34.1
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.1.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.6.0
